@mixin transition($duration: 0.2s, $delay: 0.0s, $timing-function: cubic-bezier(0.45, 0, 0.55, 1), $property: all)
  // backface-visibility: hidden
  transform-origin: 50% 50%
  // transform: perspective(1px) translate3d(0, 0, 0)
  transition: $property $duration $timing-function $delay

@mixin transition-enter($duration: 0.15s, $delay: 0.0s, $timing-function: cubic-bezier(0.65, 0, 0.35, 1), $property: all)
  @include transition($duration, $delay, $timing-function, $property)

.blur-move,
.blur-enter-active
  @include transition-enter(0.1s)
.blur-leave-active
  @include transition(0.15s)
  // opacity: 0
.blur-enter-from,
.blur-leave-to
  opacity: 0.1
  // transform: translate3d(0, 0, -0.1px)
  filter: blur(5px)
.blur-leave-active
  // position: absolute

.transform-move,
.transform-enter-active
  @include transition-enter
.transform-leave-active
  @include transition
.transform-enter-from,
.transform-leave-to
  opacity: 0
  transform: translate3d(0, 0, -0.2px)
.transform-leave-active
  // position: absolute
