:root
  --background-gradient-default: radial-gradient(farthest-corner at 50% -10%, rgb(36, 36, 36, 0), rgb(36, 36, 36)), linear-gradient(180deg, rgb(36, 36, 36, 0), rgb(36, 36, 36)), linear-gradient(80deg, rgb(70, 103, 116), rgb(92, 86, 68), rgb(94, 60, 60)), #242424
  --text-color-default: #ffffff
  --select-color: #494949

[theme="dark"]
  --background-color-default: #242424
  --text-color-default: #ffffff
  --select-color: #c7c7c7

$background-gradient-default: var(--background-gradient-default)
$background-color-default: var(--background-color-default)
$text-color-default: var(--text-color-default)
$select-color: var(--select-color)
