@use '@/assets/styles/colors' as *
@use '@/assets/styles/fonts' as *
@use '@/assets/styles/animations' as *

// Offsets
$offset-3xl: 8rem
$offset-2xl: 6rem
$offset-xl: 5rem
$offset-l: 4rem
$offset-m: 3rem
$offset-s: 2rem
$offset-xs: 1.25rem
$offset-2xs: 1rem
$offset-3xs: 0.75rem
$offset-4xs: 0.25rem

// Radius
$radius-default: 14px
$button-radius: 5px
$line-radius: 1px

// Container
$container-width: clamp(50vw, 92vw, 1920px)
$container-height: calc(100vh - 80px)

$index: calc(1vw + 1vh)

$control-min-height: 68px

// Hover
@mixin hover()
  @media (hover: none)
    -webkit-tap-highlight-color: transparent
    &:active
      @content
  @media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    &:hover
      @content

// Media query
@mixin mq($size)
  @if($size == 2xl)
    @media (max-width: 2000px)
      @content
  @if($size == xl)
    @media (max-width: 1200px)
      @content
  @else if($size == l)
    @media (max-width: 992px)
      @content
  @else if($size == m)
    @media (max-width: 768px)
      @content
  @else if($size == s)
    @media (max-width: 576px)
      @content
  @else if($size == xs)
    @media (max-width: 320px)
      @content
  @else
    @media (max-width: #{$size}px)
      @content

@mixin background($type: default, $blur: 0)
  position: relative
  // backface-visibility: hidden
  // transform-origin: 50% 50%
  // transform: perspective(1px) translate3d(0, 0, 0)
  border-radius: $radius-default
  box-shadow: 0px 0px 0.4px 1px $border-color
  background: $background-default
  @if $type == default
    @if $blur != 0
      backdrop-filter: blur(#{$blur}px)
  @if $type == blur
    &::before
      content: ''
      position: absolute
      inset: 0
      backdrop-filter: blur(#{$blur}px)
      border-radius: $radius-default
      z-index: -1

@mixin background-button($type: default, $blur: 0)
  @include background($type, $blur)
  &:hover,
  &:focus
    color: $text-color-active
    box-shadow: 0px 0px 0.4px 1px $border-color-active
    background: $background-active

@mixin background-button-inline($type: default, $blur: 0)
  @include background($type, $blur)
  background: transparent
  &:hover,
  &:focus
    background: transparent

@mixin background-input($type: default, $blur: 0)
  @include background($type, $blur)
  box-shadow: 0px 0px 0.4px 1px $border-color-input
  background: $background-input
  // background: rgba(58, 58, 58, 1)
  &:hover,
  &:focus
    box-shadow: 0px 0px 0.4px 1px $border-color-active

@mixin background-input-error($type: default, $blur: 0)
  @include background($type, $blur)
  box-shadow: 0px 0px 0.4px 1px $border-color-error
  background: $background-input
  // background: rgb(59, 59, 59)
  &:hover,
  &:focus
    box-shadow: 0px 0px 0.4px 1px $border-color-error

::selection
  background: $select-color

*::-webkit-scrollbar
  width: 4px
*::-webkit-scrollbar-track
  background: transparent
*::-webkit-scrollbar-thumb
  background: $border-color
  border-radius: $radius-default
html *
  // scrollbar-width: thin
  scrollbar-color: $border-color

button,
input,
textarea
  @include font
  outline: none
  border: none
  background: none
  color: $text-color-default

  &:-internal-autofill-selected
    // color: inherit !important
    // background-color: transparent !important

picture
  display: block
  width: 100%
  height: 100%
img
  width: 100%
  height: 100%
  object-fit: cover

// .title
//   line-height: 80% !important
//   padding-bottom: $offset-4xs
