@use '@/assets/styles/colors' as *

@mixin font-face($weight, $fileName)
  @font-face
    font-family: 'Exo2'
    font-weight: $weight
    font-style: normal
    font-display: auto
    unicode-range: U+000-5FF
    src: local('Exo2'), url('/fonts/Exo2/#{$fileName}.woff2') format('woff2')

@include font-face(400, 'Exo2-Regular')
@include font-face(300, 'Exo2-Light')
@include font-face(200, 'Exo2-ExtraLight')

@mixin font-base($size: 1rem, $weight: 300, $line-height: 120%)
  font-family: 'Exo2', sans-serif
  font-size: $size
  font-weight: $weight
  line-height: $line-height
  letter-spacing: 0.5px

@mixin font($size: 1rem, $weight: 300, $line-height: 120%)
  font-size: $size
  font-weight: $weight
  line-height: $line-height
